.mabstyle-pink .mab-wrap{ padding: 15px; }

.mabstyle-pink.magic-action-box{
	background: #E7316A;
	background: -moz-linear-gradient(top,  #f16390 0%, #e7316a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f16390), color-stop(100%,#e7316a));
	background: -webkit-linear-gradient(top,  #f16390 0%,#e7316a 100%);
	background: -o-linear-gradient(top,  #f16390 0%,#e7316a 100%);
	background: -ms-linear-gradient(top,  #f16390 0%,#e7316a 100%);
	background: linear-gradient(top,  #f16390 0%,#e7316a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16390', endColorstr='#e7316a',GradientType=0 );
	border: 3px solid #CC0F49;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	color: #fff !important;
	font-size: 14px !important;
	line-height: 1.3 !important;
	margin: 20px 0;
	text-shadow: 0 0 3px #8F002C;
}

.mabstyle-pink .mab-aside{
	position: relative;
	z-index: 8;
}

.mabstyle-pink .mab-aside-right .mab-aside{
	float: right;
	margin-left: 15px;
}

.mabstyle-pink .mab-aside-left .mab-aside{
	float: left;
	margin-right: 15px;
}

.mabstyle-pink .mab-aside-top .mab-aside{
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}


/* Content */
.mabstyle-pink .mab-content{
	font-size: 13px ;
	position: relative;
	z-index: 10;
}

.mabstyle-pink .mab-heading{
	clear: none;
	font-size: 170% ;
	font-weight: bold ;
	letter-spacing: 0 ;
	line-height: 1.4 ;
	margin: 0 0 7px ;
	text-transform: none ;
}

.mabstyle-pink .mab-subheading{
	clear: none;
	font-size: 120% ;
	font-weight: bold ;
	line-height: 1.4 ;
	margin: 0 0 10px ;
}

/* Form */

.mabstyle-pink form .mab-field label{
	font-size: 90%;
}

.mabstyle-pink.magic-action-box form .mab-field input[type="text"], .mabstyle-pink.magic-action-box form .mab-field input[type="email"], .mabstyle-pink.magic-action-box form .mab-field input[type="password"], .mabstyle-pink.magic-action-box form .mab-field textarea, .mabstyle-pink.magic-action-box form .mab-field select{
	border: 2px solid #CC0F49 !important;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	/*box-shadow: 0 0 3px #8F002C;*/
	color: #AA0538 !important;
	font-size: 100%;
	margin: 0 !important;
}

.mabstyle-pink.magic-action-box form .mab-field input:focus, .mabstyle-pink.magic-action-box form .mab-field textarea:focus, .mabstyle-pink.magic-action-box form .mab-field select:focus{
	color: #111 !important;
}

.mabstyle-pink.magic-action-box .mab-main-action-wrap  form input[type="submit"]{
	background: #FFEA9C ;
	background: url(images/gradient-buttons-sprite.png) repeat-x 0 -152px;
	border: 2px solid #CC0F49;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color: #B20D40;
	font-size: 100%;
	text-transform: none;
}

.mabstyle-pink.magic-action-box mab-main-action-wrap  form input[type="submit"]:hover, .mabstyle-pink.magic-action-box form input[type="submit"]:focus{
	background: #FFE37D;
}
