/**
 * Basic
 */
.clear{ clear: both; }

/**
 * Global
 */
.magic-action-box{
	color: #222;
	clear: both;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3;
	margin: 0 auto;
}

.mab-wrap{ margin: auto; }
	
/*********************************
 * Default Styles
 *********************************/

.mab-aside{
	position: relative;
	z-index: 8;
}

.magic-action-box .mab-aside-type-video .mab-aside{ z-index: 20; }

.mab-aside img{ background: none; border: none; padding: 0; margin: 0; }

.mab-aside-right .mab-aside{
	float: right;
}

.mab-aside-left .mab-aside{
	float: left;
}

.mab-aside-top .mab-aside{
	display: block;
	text-align: center;
	width: 100%;
}


/* Content */
.mab-content{
	font-family: inherit;
	position: relative;
	z-index: 10;
}

.mab-content p{ color: inherit; font-size: inherit;  line-height: inherit; }

.mab-heading{
	clear: none;
}

.mab-subheading{
	clear: none;
}

.magic-action-box .mab-main-copy{
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.magic-action-box .mab-main-copy p{
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	margin: 0 0 1em;
}

div.magic-action-box .mab-main-copy p:last-child, div.magic-action-box .mab-main-copy p.mablast{ margin-bottom: 0; }

.magic-action-box .mab-secondary-copy{
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.magic-action-box .mab-secondary-copy p{
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	margin: 0 0 1em;
}

div.magic-action-box .mab-secondary-copy p:last-child, div.magic-action-box .mab-secondary-copy p.mablast{
	margin-bottom: 0; 
}

.mab-main-action-wrap{
	overflow: hidden;
}

/* Form */
.magic-action-box form{
	margin: 10px 0;
}

.mab-main-action-wrap .mab-field{
	display: inline-block;
	margin: 0 3.5% 0 0;
	margin-bottom: 10px;
	width: 46%;
	/* for ie */
    *display: inline;
    zoom: 1;
}

.mabstyle-user .mab-main-action-wrap .mab-field{
	width: auto;
}

.magic-action-box .mab-main-action-wrap form .mab-field.mablast{}

.mab-main-action-wrap .mab-field label{
	display: block;
	margin-bottom: 1px;
}

.magic-action-box input[type="text"], .magic-action-box input[type="email"], .magic-action-box input[type="password"], .magic-action-box textarea{
	box-shadow: none;
}

.magic-action-box form .mab-field input[type="text"], .magic-action-box form .mab-field input[type="email"], .magic-action-box form .mab-field input[type="password"], .magic-action-box form .mab-field textarea{
	border: none;
	border-radius: 2px;
	color: #777;
	margin: 0;
	padding: 2% 4%;
	width: 91%;
}

.mab-main-action-wrap .mab-field input:focus, .mab-main-action-wrap .mab-field textarea:focus{
	color: #555;
}

.magic-action-box form input[type="submit"], .magic-action-box form button{
	/*clear: both;*/
	box-shadow: none;
	cursor: pointer;
	margin: 0;
	padding: 1.5% 4%;
}

.magic-action-box form input[type="submit"]:hover, .magic-action-box form input[type="submit"]:focus, .magic-action-box form button:hover{
	
}

/* Fields layout */
div.magic-action-box.mab-fields-layout-stacked form .mab-field{
	display: block;
	width: 100%;
}

div.magic-action-box.mab-fields-layout-stacked form .mab-field input[type="text"],
div.magic-action-box.mab-fields-layout-stacked form .mab-field input[type="email"],
div.magic-action-box.mab-fields-layout-stacked form .mab-field input[type="password"], div.magic-action-box.mab-fields-layout-stacked form .mab-field textarea{
}

/** BUTTONS **/
.mab-main-button{
	display: inline-block;
}

/** Share Box **/
.mab-type-share-box .mab-content{
	overflow: hidden;
}

.mab-sharebox{
}

.mab-sharebox .mab-share-buttons{
}

.mab-type-share-box .mab-aside-top .mab-aside .mab-share-buttons{
	display: inline-block;
	/* for ie */
    *display: inline;
    zoom: 1;
}

.mab-sharebox .mab-share-buttons a.mab-share-button{
	display: inline-block;
	margin: 0 5px 5px 0;
}

.mab-sharebox .mab-share-buttons-small a.mab-share-button{
	float: none;
}

/** Widget **/
.mab-widget .mab-inside-wrap .magic-action-box{ margin: 0; }

.mab-widget .mab-inside-wrap .mab-main-action-wrap{ overflow: visible;}

.mab-widget .mab-inside-wrap .mab-main-action-wrap form{ overflow: visible; }

.mab-widget .mab-inside-wrap .magic-action-box form .mab-field{
	display: block;
	width: auto;
	margin: 0 0 10px;
}

.mab-widget .mab-inside-wrap .magic-action-box form input[type="submit"], .mab-widget .mab-inside-wrap .magic-action-box form button, .mab-widget .mab-inside-wrap .magic-action-box form .mab-optin-submit{
	padding: 2.5% 4%;
	width: 100%;
}

/** Wysija **/
.mab-wysija-msg{ margin: 10px 0; }
.mab-wysija-msg .allmsgs blink{ padding-left: 24px; background: transparent url('images/loading.gif') no-repeat left center; display: block;}
.mab-wysija-msg .allmsgs{}
.mab-wysija-msg .allmsgs ul{ margin: 0 0 0 16px !important;}
.mab-wysija-msg .allmsgs .updated{ background: lightYellow; border: 1px solid #E6DB55; border-radius: 3px; color: #000; display: block; margin: 10px 0; padding: 8px; text-shadow: none; }
.mab-wysija-msg .allmsgs .xdetailed-errors,
.mab-wysija-msg .allmsgs .error{ background: #FFEBE8; border: 1px solid #c00; border-radius: 3px; color: #000; display: block; margin: 10px 0; padding: 8; text-shadow: none; }