.mab-wrap{ padding: 15px; }

.magic-action-box{
	background: url(../images/gradient-blue.png) repeat-x 0 0 #011E2F;
	border: 2px solid #09202E;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #D7EFFF !important;
	font-size: 14px !important;
	line-height: 1.3 !important;
	margin: 20px 0;
	text-shadow: 1px 1px 2px #07293D;
}

.mab-aside{
	position: relative;
	z-index: 8;
}

.mab-aside-right .mab-aside{
	float: right;
	margin-left: 15px;
}

.mab-aside-left .mab-aside{
	float: left;
	margin-right: 15px;
}

.mab-aside-top .mab-aside{
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

/* Content */
.mab-content{
	position: relative;
	z-index: 10;
}

.magic-action-box .mab-heading{
	clear: none;
	color: #FAAB31 !important;
	font-size: 175% !important;
	font-weight: bold !important;
	letter-spacing: -1px;
	line-height: 1.25 !important;
	margin: 0 0 7px !important;
	text-transform: uppercase !important;
	text-shadow: 1px 1px 3px #07293D !important;
}

.magic-action-box .mab-subheading{
	clear: none;
	color: #fff !important;
	font-size: 120% !important;
	font-weight: bold !important;
	line-height: 1.25 !important;
	margin: 0 0 10px !important;
	text-transform: uppercase !important;
	text-shadow: 1px 1px 3px #07293D !important;
}

.magic-action-box .mab-main-copy{
}

.magic-action-box .mab-secondary-copy{
	font-size: 95% !important;
}

.mab-main-action-wrap{ overflow: hidden; }

/* Form */
.magic-action-box form{
	margin: 10px 0;
}

.magic-action-box form .mab-field{
	display: inline-block;
	margin: 0 10px 10px 0 !important;
	width: 46%;
}

.magic-action-box form .mab-field label{
	color: #fff !important;
	display: block;
	font-size: 85%!important;
	margin-bottom: 1px;
}

.magic-action-box form .mab-field input, .magic-action-box form .mab-field textarea{
	background: #fff !important;
	border: 1px solid #fff !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	-moz-box-shadow: 0 0 3px #001a2b;
	-webkit-box-shadow: 0 0 3px #001a2b;
	box-shadow: 0 0 3px #001A2B;
	color: #333 !important;
	font-size: 100%!important;
	margin: 0 !important;
	padding: 4px 6px !important;
	width: 90% !important;

	background-image: linear-gradient(bottom, #fff, #ccc);
	background-image: -o-linear-gradient(bottom, #fff, #ccc);
	background-image: -moz-linear-gradient(bottom, #fff, #ccc);
	background-image: -webkit-linear-gradient(bottom, #fff, #ccc);
	background-image: -ms-linear-gradient(bottom, #fff, #ccc);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#fff),
		to(#ccc)
	);
}

.magic-action-box form .mab-field input:focus, .magic-action-box form .mab-field textarea:focus{
	box-shadow: 0 0 3px #000;
	color: #111 !important;
}

.magic-action-box form input[type="submit"]{
	background: url(../images/gradient-buttons2-sprite.png) repeat-x 0 -69px !important;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 3px #00243b;
	-webkit-box-shadow: 0 0 3px #00243b;
	box-shadow: 0 0 3px #00243B;
	color: #fff !important;
	font-weight: bold !important;
	font-size: 93% !important;
	padding: 5px 13px !important;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #854100;
}

.magic-action-box form input[type="submit"]:hover, .magic-action-box form input[type="submit"]:focus{
	background-position: 0 -108px;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	text-shadow: -1px -1px 0 #8E6600;
}
