.mabstyle-dark .mab-wrap{ padding: 15px; }
	
/*********************************
 * Default Styles
 *********************************/
.mabstyle-dark.magic-action-box{
	background: #222;
	background: -moz-linear-gradient(top,  #4a4a4a 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#222222));
	background: -webkit-linear-gradient(top,  #4a4a4a 0%,#222222 100%);
	background: -o-linear-gradient(top,  #4a4a4a 0%,#222222 100%);
	background: -ms-linear-gradient(top,  #4a4a4a 0%,#222222 100%);
	background: linear-gradient(top,  #4a4a4a 0%,#222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#222222',GradientType=0 );
	border: 3px solid #444;
	-moz-box-shadow: 0 0 4px #222 inset;
	-webkit-box-shadow: 0 0 4px #222 inset;
	box-shadow: 0 0 4px #222 inset;
	color: #FFF !important;
	font-size: 14px;
	line-height: 1.3;
	margin: 20px 0;
	text-shadow: -1px -1px 0 #000;
}

.mabstyle-dark .mab-aside{
	position: relative;
	z-index: 8;
}

.mabstyle-dark .mab-aside-right .mab-aside{
	float: right;
	margin-left: 15px;
}

.mabstyle-dark .mab-aside-left .mab-aside{
	float: left;
	margin-right: 15px;
}

.mabstyle-dark .mab-aside-top .mab-aside{
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}


/* Content */
.mabstyle-dark .mab-content{
	position: relative;
	z-index: 10;
}

.mabstyle-dark.magic-action-box .mab-heading{
	clear: none;
	color: #FFFFFF;
	font-size: 160%;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 1.4;
	margin: 0 0 7px;
	text-transform: none;
}

.mabstyle-dark.magic-action-box .mab-subheading{
	clear: none;
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;
	line-height: 1.4;
	margin: 0 0 10px;
}

.mabstyle-dark.magic-action-box .mab-main-copy{
	color: #fff;
}

.mabstyle-dark.magic-action-box .mab-secondary-copy{
	color: #ccc;
}

/* Form */
.mabstyle-dark.magic-action-box form{
	overflow: hidden;
}

.mabstyle-dark.magic-action-box form .mab-field{
}

.mabstyle-dark.magic-action-box form .mab-field label{
	font-size: 90%;
}

.mabstyle-dark.magic-action-box form .mab-field input[type="text"], .mabstyle-dark.magic-action-box form .mab-field input[type="email"], .mabstyle-dark.magic-action-box form .mab-field input[type="password"], .mabstyle-dark.magic-action-box form .mab-field textarea, .mabstyle-dark.magic-action-box form .mab-field select{
	background: #fff !important;
	border: 1px solid #000 !important;
	border-radius: 2px;
	box-shadow: none;
	color: #555 !important;
	margin: 0;
}

.mabstyle-dark.magic-action-box form .mab-field input:focus, .mabstyle-dark.magic-action-box form .mab-field textarea:focus, .mabstyle-dark.magic-action-box form .mab-field select:focus{
	border-color: #650D00 !important;
	color: #111 !important;
}

.mabstyle-dark.magic-action-box form input[type="submit"]{
	background: #AF1D00;
	border: 1px solid #450C00;
	border-radius: 3px;
	clear: both;
	color: #fff;
	font-weight: bold;
	text-shadow: -1px -1px 0 #2C0606;
	text-transform: uppercase;
}

.mabstyle-dark.magic-action-box form input[type="submit"]:hover, .mabstyle-dark.magic-action-box form input[type="submit"]:focus{
	background: #C23100;
	border-color: #591B05;
	text-shadow: -1px -1px 0 #471200;
	
}